*{
margin:0;
padding:0;
font-family:sans-serif;
box-sizing: border-box;
}
.banner{
	width:100%;
	height:100vh;
	background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(imagini/background.jpg);
	background-size:cover;
	background-position:center;
}
.header {
  text-align: center;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px; 
  
}

/* Left and right column */
.column.side {
  width: 15%;
}
body {
  background-image: url("../imagini/f1.jpg");
  background-size: 100% 100%;
 background-repeat: no-repeat;
  background-attachment: fixed;
}
.column.middle button
{
	width:200px;
	padding:15px 0;
	text-align:center;
	margin:20px 10px;
	border-radius:25px;
	font-weight:bold;
	border:2px solid #009688;
	background:transparent;
	color:#404040;
	cursor:pointer;
	position:relative;
	overflow:hidden;
}
.column.middle span
{
	background:#009688;
	height:100%;
	width:0;
	border-radius:25px;
	position:absolute;
	left:0;
	bottom:0;
	z-index:-1;
	transition:0.5s;
	
}
.column.middle button:hover span{
	width:100%;
}
.column.middle button:hover{
	border:none;
}

/* Middle column */
.column.middle {
  width: 65%;
   border: 3px solid grey;
	 padding: 30px;
}
.column.middle img{
	border-radius: 100%;
  border: 3px solid grey;
  margin-bottom: 40px;
  margin:20px;
}
.column.middle p{
	color: rgba(0, 0, 106, 1);
	font:  Georgia, "Times New Roman", Times, serif;
	font-size:20px;
	text-align:justify;
	text-indent: 50px;
	  margin:20px;
}
.column.middle h2{
	color: rgba(0, 0, 106, 1);
	font: italic 34px Georgia, "Times New Roman", Times, serif;
	text-indent: 50px;
}
.column.middle h1{
	color:black;
	font-family:verdana;
	font-size:200%;
	text-align:Left;
	text-indent: 50px;
	 margin:20px;
	  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*------navigation*/
.navbar
{
	
	position: fixed;
	width:85%;
	margin:auto;
	padding:35px 0;
	display:flex;
	align-items:right;
	justify-content:space-between;
}
.logo
{
	width:120px;
	cursor:pointer;
}

.navbar ul li
{
	list-style:none;
	display:inline-block;
	margin:0 20px;
	position:relative;
	
}
.navbar ul li a
{
	text-decoration:none;
	color:#fff;
	text-transform:uppercase;
}
.navbar ul li::after
{
	content:'';
	height:3px;
	width:0;
	background:#009688;
	position:absolute;
	left:0;
	bottom:-10px;
	transition:0.5s;
}
.navbar ul li:hover::after
{
	width:100%;
}
.content
{
	width:100%;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	text-align:center;
	color:#fff;
	
}
.content h1
{
	font-size:50px;
	margin-top:80px;
}
.content p
{
	margin:70px auto;
	font-weight:100;
	line-height:25px;
}
button
{
	width:200px;
	padding:15px 0;
	text-align:center;
	margin:20px 10px;
	border-radius:25px;
	font-weight:bold;
	border:2px solid #009688;
	background:transparent;
	color:#fff;
	cursor:pointer;
	position:relative;
	overflow:hidden;
}
span
{
	background:#009688;
	height:100%;
	width:0;
	border-radius:25px;
	position:absolute;
	left:0;
	bottom:0;
	z-index:-1;
	transition:0.5s;
	
}
button:hover span{
	width:100%;
}
button:hover{
	border:none;
}

footer {
  background-color: #131313;
}

footer > span {
  font-size: 15px;
  color: #555;
}

.footer-nav {
  padding: 20px;
  text-transform: uppercase;
  text-align: center;
}

.footer-nav li {
  display: inline;
  font-weight: 600;
  padding-right: 20px;
}

.footer-nav a {
  color: #79797B;
  text-decoration: none;
  font-size: 15px;
}

.footer-nav a:hover {
  color: #fbfbfb;
}


/* Small devices (tablets, 768px and up) */

@media (min-width: @screen-sm-min) {
  .intro-text {
    padding-top: 50px;
    color: red;
    font-size: 14px;
  }
}
